<?xml version="1.0"?>
<!--
/**
 * Copyright © 2010-2018 Epicor Software Corporation: All Rights Reserved
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="devtest" frontName="devtest">
            <module name="Dev_LogData"/>
        </route>
    </router>
</config>